<div id="login-container">
    <p><strong>Notice:</strong> if you have multiple Google accounts, please be consistent in the account that you use to access this application.</p>
    <a id="login-google" href="/users/auth/google_oauth2">
        <i class="fa fa-google"></i>
        <span>Sign in with Google</span>
    </a>
</div>
